{% extends "base.html" %}
{% block content %}
<h1 class="pageheader">About The DANE-validated CA</h1>

<p>This is an experient to see if there is a way to drive deployment of DANE by leveraging the very PKI technology that DANE wants to replace.</p>
<p>DANE relies on DNS to provide a trust-bridge between DNSSEC and PKI. This service represents the reverse: by publishing DANE TLSA records you prove that you have control over the DNS domain associated with the public key. This proof is equivalent or better than normal "domain verification" performed by most commercial CAs for their baseline/free certificate service.</p>

<p>The DANE-validated CA takes as input a public key (in varous popular formats) and a domain-name. If there is a matching DANE record the service will sign the public key with a CA certificate. The verification process takes a few seconds and doesn't require any manual steps.</p>

<p>The goal is to provide a simple RESTful API soon and example certificate life-cycle management software to fully automate certificate provisioning for TLS servers that do not yet support DANE.</p>
{% endblock %}
