<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <link href="/static/style.css" rel="stylesheet"/>
    <title>{% block title %}DANE Proxy CA{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/request">Request</a></li>
          <li><a href="/cacert">Trust</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <h3 class="text-muted">The DANE-validated CA</h3>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>{% block js %}{% endblock %}</script>
</div>
</body>
</html>
